*{
    box-sizing: border-box;
    margin: 0vw;
    padding: 0vw;
}
#main{
    border: 2px solid red;
    width: 50%;
    margin: auto;
    text-align: center;
}
h1{
    text-decoration: underline;
}
.submit{
    background-color: orangered;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
#list{
    border: 2px solid red;
    width: 30%;
    margin: auto;
    text-align: center;
}
.text{
    border: 2px solid black;
    border: 5px;
}
.ul{
    display: block;
}
ul li :nth-child(even){
    background-color: #878686;
}
ul{list-style-type: none;}